<head>
  <h2 style="text-align: center; padding: 3%">Ingresar Testigo</h2>
</head>
<body>
<%= render 'form', witness: @witness %>
<div class="row">
  <div class="column mx-auto">
    <%= link_to 'Volver', :back %>
  </div>
</div>
</body>
