<head>
  <h2 style="text-align: center; padding: 3%">Registrar imputado</h2>
</head>
<body>
<%= render 'form', thief: @thief %>
<div class="row">
  <div class="column mx-auto">
    <%= link_to 'Volver', :back %>
  </div>
</div>
</body>