<head>
  <h2 style="text-align: center; padding: 3%">Editar Procedimiento</h2>
</head>
<body>
<%= render 'form', crime: @crime %>
<div class="row">
  <div class="column mx-auto">
    <%= link_to 'Abrir', @crime %> |
    <%= link_to 'Atrás', :back %>
  </div>
</div>
</body>