<div class="field mx-auto", style="width: 200px;">

<h1>Editar Procedimiento</h1>

<%= render 'form', crime: @crime %>
<div class="row">
  <div class="column mx-auto">
    <%= link_to 'Abrir', @crime %> |
    <%= link_to 'Atrás', :back %>
  </div>
</div>
</div>