<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te queremos notificar que tu correo se está cambiando a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te queremos notificar que tu correo se ha cambiado a <%= @resource.email %>.</p>
<% end %>
