<p>Hola <%= @resource.email %>!</p>

<p>Alguién ha solicitado un enlace para cambiar tu contraseña. Si fuiste tu puedes hacerlo mediante el siguiente enlace.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste este enlace puedes ignorar este correo.</p>
<p>Tu contraseña no se cambiará hasta que accedas al enlace y crees una nueva.</p>
