<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueda debido a numerosos intentos de inicio de sesión fallido.</p>

<p>Sigue el siguiente enlace para desbloquear tu cuenta:</p>

<p><%= link_to 'Debloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
